body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.4375; //16px size with a 23px line height
  //1em = 16 px  1rem = 10px  .625em = 1rem  we want .67em
  color: $default-font-color;
  font-size: $default-font-size;
}

.header-small {
  font-weight: 600;
  font-size: 2rem;
}

.header-big {
  font-weight: 600;
  font-size: 3.5rem;
}

.header-medium {
  font-weight: 700;
  font-size: 2.3rem;
}
